<router-outlet></router-outlet>

<!-- <app-list-products></app-list-products> -->

<!-- <p>
  <a href="./assets/files/texto.txt" download>Descargar</a>
</p>
<br>
  <button (click)="downloadPdf()">Descargar PDF</button> -->
<!-- <p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf = "imgRta" [src]="imgRta">
</p> -->


<!-- <p><input type="text" [(ngModel)]="imgParent"/></p>
<button (click)="toogleImg()" >Toogle Image</button>
<p>{{showImage}}</p>
<app-img *ngIf="showImage" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
 -->
