img {
  width: 100%;
  max-width: 400px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0 0 15px 15px;
  background-size: cover;
  // background-color: rgb(160, 253, 131);
}
