<!-- <p>
  La cantidad {{ myShoppingCart.length }}
</p>
<p>
  Total: ${{ total }}
</p>
<p>
  Today: {{today | date}}
</p>
<p>
  Another Date: {{date | date:'short'}}
</p>
<p>
      {{'bienvenidos a la lista de productos' | uppercase}}
</p>
<br> -->
<br>
<button class="button" (click)="createNewProduct()">Create Product</button>
<br>
<br>
<div class="products--grid">
  <app-product
  [product]="product"
  *ngFor="let product of products"
  (addedProduct)="onAddShoppingCart($event)"
  (showProduct)="onShowDetail($event)"
  ></app-product>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChosen">
    <button class="button" (click)="toogleProductDetail()">Close</button>
    <h1 class="title">{{productChosen.title}}</h1>
    <br>
    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="">
      </ng-template>
    </swiper>
    <h2 style="font-weight:bold">Price: {{productChosen.price | currency}}</h2>
    <p>{{productChosen.description}}</p>
    <br>
    <br>
    <button class="button" (click)="updateProduct()">Update</button>
    <button class="btnDelete" (click)="deleteProduct()">Delete</button>
  </div>

</div>
