/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url(./styles/reset.scss);

@import '~swiper/swiper.scss';

* {
  font-family: 'Quicksand', sans-serif;
}

.products--grid{
  app-img {
    img{
      border-radius: 10px;
    }
  }
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .button{
    display: none;
  }
}
